STDIN.*
eventviews
*validate*.txt
*.xml
*.pdf
*.p
*.pyc
*.d
*~
*.root
*.profile
*.log
*.out
.nfs*
build
*.swp
*.tar.gz
*.png
*.eps
*.pickle
*.so
.svn
grid-merge
externaltools*
MC.txt
clean.sh
datasets/lephad/tau_data.txt
submitLarge.sh
submitProcessor.sh
submitSmall.sh
higgstautau/lephad/external
*.dot
*.h5
*.e*
*.o*
*.tmp
